<div class="ticket-info">
  <div class="ticket-info__container">
    <div *ngIf="load" class="ticket-info__container_header">
      <h2 [innerHTML]="project.name"></h2>
    </div>
    <div class="ticket-info__container_body">
      <ng-container *ngIf="load && tickets; else notFound">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Name</th>
              <th scope="col">Priority</th>
              <th scope="col">Status</th>
              <th scope="col">Assignee</th>
              <th scope="col">Remaining</th>
              <th scope="col">Due</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let ticket of tickets">
              <td scope="row">{{ticket.id}}</td>
              <td><a class="ticket-info__link" (click)="navigateToTicket(ticket.id)">{{ticket.project.name}}.{{ticket.name}}</a></td>
              <td>{{ticket.priority}}</td>
              <td>{{ticket.status}}</td>
              <td>{{ticket.assignee.username}}</td>
              <td>{{ticket.remaining}}</td>
              <td>{{ticket.dueDate}}</td>
            </tr>
          </tbody>
        </table>
      </ng-container>
    </div>
  </div>
</div>

<ng-template #notFound>
  <div class="ticket-info__not-found">
    <p class="ticket-info__not-found_title">
      There is no tickets yet
    </p>
    <button class="btn ticket-info__not-found_add" (click)="addTicket($event)">
      <span class="btn ticket-info__not-found_add-icon"></span>
    </button>
    <p class="ticket-info__not-found_description">
      Click here to add
    </p>
  </div>
</ng-template>
