<div class="projects">
  <div class="projects__container">
    <div class="projects__container_header">
      <h2>Projects</h2>
    </div>

    <div class="projects__container_body" *ngIf="contentReady">
      <ul class="projects__container_body-content"
          cdkDropList
          [cdkDropListData]="projects"
          (cdkDropListDropped)="drop($event)">
        <li class="projects__container_body-content-item" *ngFor="let project of projects" cdkDrag>
          <a class="btn projects__container_body-content-item_container"
             (click)="moveToTickets(project.id)">
            <div class="projects__container_body-content-item_container-details">
              {{project.name}}
            </div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<ng-template #notFound>
  <div class="search__not-found">
    <span class="search__not-found_icon">
    </span>
    <p class="search__not-found_title">
      Nothing found
    </p>
  </div>
</ng-template>
<ngx-spinner type="timer" size="medium" color="#070707" bdColor="rgba(255,254,254,0.8)"></ngx-spinner>
