<header class="navbar navbar-expand-lg _header">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="btn navbar-brand" (click)="navigateToLanding()">E2M</button>
    </div>
    <div class="nav">
      <ul class="nav-left-menu">
        <li class="nav-left-menu__item">
          <button class="btn dropdown-toggle nav-left-menu__item-button" type="button"
                  id="dropdownDashboards" data-toggle="dropdown">
            Dashboards
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownDashboards">
            <li class="dropdown-item">
              <a>My dashboard</a>
            </li>
          </ul>
        </li>
        <li class="nav-left-menu__item">
          <button class="btn dropdown-toggle nav-left-menu__item-button" type="button"
                  id="dropdownProjects" data-toggle="dropdown">
            Projects
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownProjects">
            <li class="dropdown-item">
              <button class="btn nav-left-menu__item-dropdown-item-link" (click)="navigateToProjects()">
                Show all
              </button>
            </li>
            <!--<li class="dropdown-item">
              Open recent...
              <ul class="nav-recent-projects">
                <li class="nav-recent-projects-item">
                  asdasd
                </li>
                <li class="nav-recent-projects-item">
                  jdwfljh
                </li>
              </ul>
            </li>-->
            <li class="dropdown-item">
              <button
                class="btn nav-left-menu__item-dropdown-item_add-project" (click)="openCreateProjectPopup($event)">
                <span class="nav-left-menu__item-dropdown-item_add-project-icon"></span>
                Create project
              </button>
            </li>
          </ul>
        </li>
        <li class="nav-left-menu__item">
          <button class="btn dropdown-toggle nav-left-menu__item-button" id="dropdownTickets"
                  data-toggle="dropdown">
            Tickets
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownTickets">
            <li class="dropdown-item">
              <button
                class="btn nav-left-menu__item-dropdown-item_add-project" (click)="openCreateTicketPopup($event)">
                <span class="nav-left-menu__item-dropdown-item_add-project-icon"></span>
                Create ticket
              </button>
            </li>
          </ul>
        </li>
        <!--<li class="nav-left-menu__item">
          <button class="btn dropdown-toggle nav-left-menu__item-button" id="dropdownIssues"
                  data-toggle="dropdown">
            Issues
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownIssues">
            <li class="dropdown-item">
              ggfhfgh
            </li>
          </ul>
        </li>-->
        <li class="nav-left-menu__item">
          <button
            class="btn"
            (click)="openCreateTicketPopup($event)">
            Create
          </button>
        </li>
      </ul>

      <ul class="nav-right-menu">
        <li class="nav-right-menu-item">
          <input class="nav-right-menu-item__search-field form-control" type="text" placeholder="Search"/>
        </li>
        <li class="nav-right-menu-item">
          <button class="btn nav-right-menu-item__button dropdown-toggle" id="dropdownProfile"
                  data-toggle="dropdown">
          </button>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownProfile">
            <li class="dropdown-item">
              Log In
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</header>

<e2m-create-project-popup
  [visible]="createProjectPopupVisible"
  (onClose)="closeCreateProjectPopup()"
  (onSubmit)="createProject($event)">
</e2m-create-project-popup>

<e2m-create-ticket-popup
  [visible]="createTicketPopupVisible"
  [selectedProject]="selectedProject"
  [projectsArray]="projects"
  (onClose)="closeCreateTicketPopup()"
  (onSubmit)="createTicket($event)">
</e2m-create-ticket-popup>

<e2m-ticket-edit-popup
  *ngIf="editTicketPopupVisible"
  [visible]="editTicketPopupVisible"
  [ticket]="ticket"
  (onClose)="closeEditTicketPopup()"
  (onSubmit)="modifyTicket($event)">
</e2m-ticket-edit-popup>

<e2m-assign-ticket-popup
  *ngIf="assignPopupVisible"
  [visible]="assignPopupVisible"
  [ticket]="ticket"
  (onClose)="closeEditTicketPopup()"
  (onSubmit)="modifyTicket($event)">
</e2m-assign-ticket-popup>

<e2e-log-work-ticket-popup
  *ngIf="logWorkPopupVisible"
  [visible]="logWorkPopupVisible"
  [ticket]="ticket"
  (onClose)="closeEditTicketPopup()"
  (onSubmit)="modifyTicket($event)">
</e2e-log-work-ticket-popup>
