<e2m-shared-popup
  *ngIf="visible"
  [header]="'Create ticket'"
  [closeable]="true"
  [submitDisabled]="formGroup.invalid"
  (onClose)="_onClose()"
  (onSubmit)="_onSubmit()">
  <ng-container>
    <form class="create-ticket" [formGroup]="formGroup">
      <div class="form-group">
        <label for="projectName">Name</label>
        <input type="email"
               class="form-control"
               id="projectName"
               placeholder="Ticket name"
               [formControlName]="controlFieldsEnum.name">
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <input
          type="text"
          class="form-control"
          id="description"
          placeholder="Description"
          [formControlName]="controlFieldsEnum.description">
      </div>
      <div class="form-group">
        <label for="type">Type</label>
        <select class="form-control" id="type"
                [formControlName]="controlFieldsEnum.type">
          <option>Select type</option>
          <option *ngFor="let type of types">{{type}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="priority">Priority</label>
        <select class="form-control" id="priority"
                [formControlName]="controlFieldsEnum.priority">
          <option>Select priority</option>
          <option *ngFor="let priority of priorities">{{priority}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="project">Project</label>
        <select class="form-control" id="project"
                [formControlName]="controlFieldsEnum.projectId">
          <option>Select project</option>
          <option *ngFor="let project of projectsArray">{{project.name}}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="estimated">Estimated</label>
        <input
          type="number"
          class="form-control"
          id="estimated"
          placeholder="Estimated"
          [formControlName]="controlFieldsEnum.estimated">
      </div>
      <div class="form-group">
        <label for="dueDate">Due date</label>
        <input
          type="date"
          class="form-control"
          id="dueDate"
          [formControlName]="controlFieldsEnum.dueDate">
      </div>
    </form>
  </ng-container>
</e2m-shared-popup>
