<e2m-shared-popup
  *ngIf="visible"
  [header]="'Create ticket'"
  [closeable]="true"
  (onClose)="_onClose()">
  <form [formGroup]="formGroup">
    <div class="form-group">
      <label for="exampleInputEmail1">Project name</label>
      <input type="email"
             class="form-control"
             id="exampleInputEmail1"
             aria-describedby="emailHelp"
             placeholder="Enter email"
             [formControlName]="controlFieldsEnum.name">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>

      <label for="exampleInputPassword1">Description</label>
      <input
        type="password"
        class="form-control"
        id="exampleInputPassword1"
        placeholder="Password"
        [formControlName]="controlFieldsEnum.description">
    </div>
  </form>
</e2m-shared-popup>
